body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo-live {
  position: absolute;
  top: 50%;
  width: 200px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 10;
}