body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.circle-container {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-bold {
  position: absolute;
  background-image: url("./assets/shadow.svg");
  animation: rotate 3s linear infinite;
  background-size: contain;
  width: inherit;
  height: inherit;
}

.logo-container {
  position: relative;
}

.logo-live {
  position: absolute;
  top: 50%;
  width: 200px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 10;
}
.insideCutter {
  width: 86%;
  height: 86%;
  background-image: url("./assets/black.svg");
  background-size: contain;
  position: absolute;
  z-index: 2;
  opacity: 0.8;
  animation: rotate 3s linear infinite;
  clip-path: polygon(50% 35%, 75% 30.27%, 100% 12.75%, 100% 35%, 100% 70%, 81% 95%, 50% 100%, 18% 95%, 0% 70%, 0% 35%, 0% 12.75%, 25% 29.25%);
}
.shadow-example {
  position: absolute;
  background-image: url("./assets/black.svg");
  width: 85%;
  height: 85%;
  background-size: cover;
  animation: rotate 3s linear infinite;
}
.chunks {
  position: absolute;
  z-index: 1;
  width: 83%;
  height: 83%;
  top: 25px;
  right: 25px;
  background-image: url("./assets/smallItems.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotate_chunks 60s linear infinite, dot_pulse linear 3s infinite;
}
.chunks2 {
  position: absolute;
  z-index: 1;
  width: 83%;
  height: 83%;
  top: 25px;
  right: 25px;
  background-image: url("./assets/boldchunks.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.cut-wrapper {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate_chunks {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
